@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply font-poppins
}

html{
    scroll-behavior: smooth;
}

.card-zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden
    bg-gradient-radial from-white via-gray-50 to-gray-300
    shadow-xl dark:shadow-gray-700 dark:shadow-xl w-48 h-48 rounded-2xl;
}
.card-zoom-image {
    @apply absolute object-contain w-auto h-4/6 transition-all duration-500 ease-in-out transform bg-center bg-cover rounded-lg;
}
.card-zoom-text {
    @apply text-xl font-black transition-all duration-500 ease-in-out transform scale-150 opacity-80;
}
.card:hover .card-zoom-image {
    @apply scale-150;
}
.card:hover .card-zoom-text {
    @apply scale-110;
}

@keyframes upDown{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.chevronDoubleDown{
    animation: upDown 1.5s infinite
}